/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--wght);
  font-size: var(--font-size);
  background-image: var(--main-background-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--page-bg-color);
  padding-block-start: 100px;
}

/*______________________________________________________________

Header
  ______________________________________________________________
*/

.header {
  display: grid;
  width: 100%;
  border: 2px solid var(--contour-color);
  background-color: var(--page-bg-color);
  max-inline-size: 696px;
  margin: 0 auto;
}

.header__head-text {
  display: block;
  font-family: var(--accent-font), fantasy;
  font-size: var(--header-title-size);
  margin-block-start: clamp(122px, calc(0.00751 * 100vw + 119.18px), 130px);
  align-items: center;
  justify-items: center;
  margin-block-end: 20px;
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  display: grid;
  max-inline-size: 696px;
  width: 100%;
  font-family: var(--accent-font), fantasy;
  font-size: var(--header-text-size);
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  margin-block-end: clamp(122px, calc(0.00751 * 100vw + 119.18px), 130px);
}

/*______________________________________________________________

Header
  ______________________________________________________________
*/

/*______________________________________________________________

Main
  ______________________________________________________________
*/
.main {
  display: grid;
  width: 100%;
  gap: 50px;
  justify-content: center;
  margin-block-start: 98px;
}

.main__article {
  display: grid;
  font-family: var(--main-font-family);
  justify-content: center;
  max-inline-size: 696px;
  border: 2px solid var(--contour-color);
  background-color: var(--page-bg-color);
}

.article-header {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' 715;
}

.article-text-container {
  display: grid;
  gap: 25px;
  margin: 25px;
}

.like-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  background: transparent;
  color: var(--color);
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color, #000);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000);
}

.card__button {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.button {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border: 2px solid var(--border-color);
  background: var(--button-text-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--button-fill-color);
  transition: width 0.5s ease-in-out;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  font-size: var(--button-size);
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  mix-blend-mode: difference;
}

.button:hover .button__text {
  color: var(--button-text-color);
}

.button svg {
  stroke: white;
  stroke-width: .5px;
  mix-blend-mode: difference;
}

.button:hover svg {
  color: var(--button-text-color);
}

.card__like-button {
  padding: 9px 17px;
  width: 130px;
  min-height: 38px;
  /* margin-inline-start: 7px; */
}

.save-button {
  width: 335px;
  min-block-size: 55px;
  margin-inline: 182.5px;
  margin-block-end: 100px;
}

.image-span {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  text-shadow: -1px 0 var(--page-bg-color), 1px 0 var(--page-bg-color), 0 -1px var(--page-bg-color), 0 1px var(--page-bg-color);
  font-size: 14px;
  color: var(--color);
  opacity: .5;
  mix-blend-mode: hard-light;
}

.image-sepia {
  filter: sepia(1);
}
.image-grayscale {
  filter: grayscale(1);
}
.image-contrast {
  filter: contrast(1.5);
}
.image-blur {
  filter: blur(3px);
}
.image-bright {
  filter: brightness(1.3);
}
.image-saturate {
  filter: saturate(2);
}
.image-hue {
  filter: hue-rotate(90deg) saturate(1.5);
}

.image-invert {
  filter: invert(100%);
}

/*чтобы увидеть прикольчики, раскомментируй стили и картинки в HTML я повставлял мемов, но они не проходят по макету, поэтому так :)*/
/* .druz-image {
  filter: invert(100%);
}

.griffin-cry-image {
  filter: hue-rotate(90deg) saturate(1.5);
}

.garold-image {
  filter: grayscale(1);
}

.marry-image {
  filter: sepia(1);
}

.scrat-image {
  filter: contrast(150%);
}

.tony-image {
  filter: brightness(130%) contrast(100%);
}

.frai-image {
  filter: blur(3px) brightness(110%) invert(80%);
}

.griffin-image {
  filter: contrast(150%);
} */

.article-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
  object-position: center;
  aspect-ratio: 1/1;
}

.article-image-container {
  position: relative;
}

/*______________________________________________________________

Main
  ______________________________________________________________
*/

/*______________________________________________________________

Popup window
  ______________________________________________________________
*/

.dialog[open] {
  border: 2px solid #000;
  padding: 30px;
  width: 353px;
  /* height: 191px; */
  font-family: var(--accent-font), fantasy;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, .7);
}

.dialog-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.dialog-icon {
  margin-block-start: 12px;
}

.dialog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-block-end: 30px;
  max-inline-size: 234px;
}

.dialog-button {
  min-inline-size: 293px;
  padding: 9px 17px;
}

.button-text {
  text-transform: uppercase;
}

/*______________________________________________________________

Popup window
  ______________________________________________________________
*/

@supports ((text-stroke: 1px var(--page-bg-color)) or (-webkit-text-stroke: 1px var(--page-bg-color))) {

  .image-span {
    -webkit-text-stroke: 1px var(--page-bg-color);
    text-shadow: none;
    text-stroke: 1px var(--page-bg-color);
  }
}

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }
}

@media (max-width: 768px) {
.header {
  max-inline-size: 375px;
}

  .header__text {
    font-size: var(--header-text-size);
  }

  .header__head-text {
    font-size: var(--header-title-size);
  }

  .main {
    max-inline-size: 375px;
  }

  .main__article {
    max-inline-size: 375px;
    margin-inline-start: 162px;
  }

  .save-button {
    flex-direction: column;
  }

  .button__icon {
    width: 25px;
    height: 25px;
  }

  .dialog-icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
    max-inline-size: 341px;
  }

  .dialog-button {
    min-inline-size: 261px;
  }

  .dialog-message svg {
    width: 39px;
    height: 39px;
    inline-size: 90px;
  }
}